
<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/icon/favicon.ico}" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->

    <title>Young Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <!-- Dashboard Core -->
    <link th:href="@{/assets/css/dashboard.css}" rel="stylesheet" />


    <link rel="stylesheet" th:href="@{/assets/plugins/biu/biu.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/pace/themes/red/pace-theme-minimal.css}" type="text/css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css"/>

    <style>
        .list-group-item:hover
        {
            background-color:#e4ecf8;
        }
        /* Loading CSS 样式 */

        .boxLoading {
            width: 50px;
            height: 50px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .boxLoading:before {
            content: '';
            width: 50px;
            height: 5px;
            background: #000;
            opacity: 0.1;
            position: absolute;
            top: 59px;
            left: 0;
            border-radius: 50%;
            animation: box-loading-shadow 0.5s linear infinite;
        }
        .boxLoading:after {
            content: '';
            width: 50px;
            height: 50px;
            background: #2878D7;
            animation: box-loading-animate 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3px;
        }

        @keyframes box-loading-animate {
            17% {
                border-bottom-right-radius: 3px;
            }
            25% {
                transform: translateY(9px) rotate(22.5deg);
            }
            50% {
                transform: translateY(18px) scale(1, .9) rotate(45deg);
                border-bottom-right-radius: 40px;
            }
            75% {
                transform: translateY(9px) rotate(67.5deg);
            }
            100% {
                transform: translateY(0) rotate(90deg);
            }
        }

        @keyframes box-loading-shadow {
            0%, 100% {
                transform: scale(1, 1);
            }
            50% {
                transform: scale(1.2, 1);
            }
        }


    </style>
    <defs>
        <style>
            * { fill: #000000; }
            :hover { fill: #f06966; }
        </style>
    </defs>
</head>

<body >
<div class="boxLoading" id="loading"></div>
<div class="page animated fadeIn" id="page" style="display: none">
    <div class="page-main">
        <div th:include="/base/header :: header"></div>
        <div class="my-3 my-md-5">
            <div class="container">

                <div class="row">
                    <div class="col-lg-2 " id="leftMenu" >
                        <div class="card" >
                            <!--  list_group  -->
                            <div th:include="/component/home/home_list_group :: home_list_group"></div>

                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="tab-content" id="nav-tabContent">
                            <!--tab_item-->
                            <div class="tab-pane fade show active" id="list-recommend" role="tabpanel" aria-labelledby="list-recommend-list" th:include="/component/home/recommend_item :: recommend_item"></div>
                            <div class="tab-pane fade " id="list-popular" role="tabpanel" aria-labelledby="list-popular-list" th:include="/component/home/popular_item :: popular_item"></div>
                            <div class="tab-pane fade" id="list-latest" role="tabpanel" aria-labelledby="list-latest-list" th:include="/component/home/latest_item :: latest_item"></div>
                            <div class="tab-pane fade" id="list-front" role="tabpanel" aria-labelledby="list-front-list" th:include="/component/home/front_item :: front_item"></div>
                            <div class="tab-pane fade" id="list-end" role="tabpanel" aria-labelledby="list-end-list" th:include="/component/home/end_item :: end_item"></div>
                            <div class="tab-pane fade" id="list-blockchain" role="tabpanel" aria-labelledby="list-blockchain-list" th:include="/component/home/blockchain_item :: blockchain_item"></div>
                            <div class="tab-pane fade" id="list-intelligent" role="tabpanel" aria-labelledby="list-intelligent-list" th:include="/component/home/intelligent_item :: intelligent_item"></div>
                            <div class="tab-pane fade" id="list-android" role="tabpanel" aria-labelledby="list-android-list" th:include="/component/home/android_item :: android_item"></div>
                            <div class="tab-pane fade" id="list-ios" role="tabpanel" aria-labelledby="list-ios-list" th:include="/component/home/ios_item :: ios_item"></div>
                            <div class="tab-pane fade" id="list-tool" role="tabpanel" aria-labelledby="list-tool-list" th:include="/component/home/tool_item :: tool_item"></div>
                            <div class="tab-pane fade" id="list-safety" role="tabpanel" aria-labelledby="list-safety-list" th:include="/component/home/safety_item :: safety_item"></div>
                            <div class="tab-pane fade" id="list-programmer" role="tabpanel" aria-labelledby="list-latest-list" th:include="/component/home/programmer_item :: programmer_item"></div>
                            <div class="tab-pane fade" id="list-industry" role="tabpanel" aria-labelledby="list-industry-list" th:include="/component/home/industry_item :: industry_item"></div>
                            <div class="tab-pane fade" id="list-more" role="tabpanel" aria-labelledby="list-more-list" th:include="/component/home/more_item :: more_item"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card card-profile" data-aos="fade-up">
                            <div class="card-body text-center">
                                <p><img class="avatar avatar-xl" src="./demo/faces/female/29.jpg"></p>
                                <p>
                                <small>
                                    <strong>Hide On Bush</strong>
                                </small>
                                </p>
                                <p><span class="tag tag-orange">发布了13篇文章</span></p>

                                <ul class="social-links list-inline mb-0 mt-2">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card" data-aos="fade-up">
                            <div class="card-body">
                                <h5>人气文章</h5>
                            </div>
                        </div>
                        <div class="card" data-aos="fade-up">
                            <div class="card-body">
                                <h5 >专题推荐</h5>
                            </div>
                        </div>
                        <div class="card" >
                            <div class="card-body">
                                <h5 >最新加入</h5>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/female/18.jpg)"></div>
                                    <div>
                                        <a href="profile.html" class="text-default">Rose Bradley</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a href="#" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" data-aos="fade-up">
                            <div class="card-body">
                                <h5 >最新发表</h5>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  footer  -->
    <div th:include="/base/footer :: footer"></div>

</div>

<!-- Login & Regist Model -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:include="/base/login :: login"></div>

<script th:src="@{/assets/plugins/biu/biu.min.js}"></script>
<script th:src="@{/js/pace/pace.min.js}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script th:src="@{/assets/js/require.min.js}"></script>
<script>

    requirejs.config({
        baseUrl: '.'
    });

    AOS.init();

    paceOptions = {
        elements:true
    };

</script>
<script th:src="@{/assets/js/dashboard.js}"></script>

<script th:src="@{/js/base.js}"></script>
<script>
    // 等待所有加载
    // $(window).load(function(){
    //
    //     $('#loading').remove();
    // });
    window.onload = function(){
        var s = window.setInterval(function(){
            window.document.getElementById("loading").style.display="none";
            window.document.getElementById("page").style.display="block";
        }, 3000);
    }

    loadCSS();
    function loadCSS() {
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|wOSBrowser|BrowserNG|WebOS)/i))) {
            window.document.getElementById("leftMenu").style.display="none";
            //alert("shouji");
        }
        else {
            window.document.getElementById("leftMenu").style.display="block";
            //alert("diannao");
            //document.write('<link href="pc.css" rel="stylesheet" type="text/css" media="screen" />');
        }
    }

    var closeLoginModel=window.document.getElementById("closeLoginModel");
    var emailLoginBtn=window.document.getElementById("emailLoginBtn");
    var loginForm=window.document.getElementById("loginForm");
    var registForm=window.document.getElementById("registForm");
    var forgetPwdForm=window.document.getElementById("forgetPwdForm");
    emailLoginBtn.onclick=showEmailLogin;


    function showEmailLogin() {
        emailLoginBtn.style.display="none";
        showLoginForm();

    }

    function showRegistForm() {
        forgetPwdForm.style.display="none";
        loginForm.style.display="none";
        registForm.style.display="block";

    }

    function showLoginForm() {
        forgetPwdForm.style.display="none";
        registForm.style.display="none";
        loginForm.style.display="block";
    }
    function showForgetPwdForm() {
        registForm.style.display="none";
        loginForm.style.display="none";
        forgetPwdForm.style.display="block";
    }

    var loginEmail = window.document.getElementById("loginEmail");
    var loginPwd  = window.document.getElementById("loginPwd");
    var registName = window.document.getElementById("registName");
    var registEmail = window.document.getElementById("registEmail");
    var registPwd = window.document.getElementById("registPwd");
    var noLoginAvatar=window.document.getElementById("noLoginAvatar");
    var yesLoginAvatar=window.document.getElementById("yesLoginAvatar");



    function doLogin() {

        //biu('用户名:'+registName.value+",邮箱:"+registEmail.value+",密码:"+registPwd.value);
        $.ajax({
            type:"post",
            url:"/youngblog/user/signin",
            data:{
                email:loginEmail.value,
                password:loginPwd.value},
            dataType:"text",
            success: function (r) {
                var data = JSON.parse(r);
                window.console.log(data);
                if(data.code == 0){
                    closeLoginModel.click();
                    noLoginAvatar.style.display="none";
                    yesLoginAvatar.style.display="block";
                    biu("恭喜您，登陆成功！", {type: 'success'});
                }else{
                    biu(data.msg,{type: 'danger'});
                }
            },error:function (error) {
                window.console.log(error)
            }
        })

    }

    function doRegist() {

        //biu('用户名:'+registName.value+",邮箱:"+registEmail.value+",密码:"+registPwd.value);
        $.ajax({
            type:"post",
            url:"/youngblog/user/signup",
            data:{nickname:registName.value,
                email:registEmail.value,
                password:registPwd.value},
            dataType:"text",
            success: function (r) {
                console.log(r);
                var data = JSON.parse(r);
                if(data.code == 0){
                    closeLoginModel.click();
                    biu("恭喜您，注册成功，请去邮箱内激活账号", {type: 'success'});
                }
            },error:function (error) {
                window.console.log(error)
            }
            })

    }

    /**
     * 导航栏切换JS
     */
    var oneMenu = window.document.getElementById("oneMenu");
    var twoMenu = window.document.getElementById("twoMenu");
    var threeMenu = window.document.getElementById("threeMenu");
    var fourMenu = window.document.getElementById("fourMenu");
    var fiveMenu = window.document.getElementById("fiveMenu");
    var sixMenu = window.document.getElementById("sixMenu");
    var sevenMenu = window.document.getElementById("sevenMenu");
    function clearMenuActive() {
        oneMenu.setAttribute("class","nav-link");
        twoMenu.setAttribute("class","nav-link");
        threeMenu.setAttribute("class","nav-link");
        fourMenu.setAttribute("class","nav-link");
        fiveMenu.setAttribute("class","nav-link");
        sixMenu.setAttribute("class","nav-link");
        sevenMenu.setAttribute("class","nav-link");
    }
    function clearListItemActive() {
        for (var i=1;i<15;i++){
            var item = window.document.getElementById("item"+i);
            item.setAttribute("class","list-group-item list-group-item-action");
        }
    }
    function activeListItem(e) {
        clearListItemActive();
        e.setAttribute("class","list-group-item list-group-item-action active");
    }
    function activeMenu(e) {
        clearMenuActive();
        e.setAttribute("class","nav-link active");
    }
</script>
</body>

</html>