
<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/icon/favicon.ico}" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->

    <title>FAKER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <!-- Dashboard Core -->
    <link th:href="@{/assets/css/dashboard.css}" rel="stylesheet" />


    <link rel="stylesheet" th:href="@{/assets/plugins/biu/biu.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/pace/themes/red/pace-theme-minimal.css}" type="text/css"/>
    <style>
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }



    </style>
    <defs>
        <style>
            * { fill: #000000; }
            :hover { fill: #f06966; }
        </style>
    </defs>
</head>
<body  class="animated fadeIn">
<div class="page">
    <div class="page-main">
        <div th:include="/base/header :: header"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Dashboard
                    </h1>

                </div>
                <div class="row row-cards">
                    <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
                </div>
            </div>
        </div>
    </div>
    <!--  footer  -->
    <div th:include="/base/footer :: footer"></div>

</div>

<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>

                <div class="text-center">

                    <p>&nbsp;</p>
                    <br>
                    <a  th:href="@{github/login/}">
                        <span class="v-icon" data-v-0b88f578="">
                            <svg version="1.1" role="presentation" width="9.142857142857142" height="9.142857142857142" viewBox="0 0 1024 1024" class="svg-icon active" style="width:70px;height:70px;transform:rotate(0deg) scale(1,1);">
                                <path d="M941.714 512q0 143.433-83.712 258.011t-216.283 158.574q-15.433 2.853-22.565-3.986t-7.131-17.152v-120.576q0-55.442-29.696-81.152 32.585-3.438 58.587-10.277t53.723-22.272 46.299-37.998 30.281-60.014 11.703-86.016q0-69.157-45.129-117.723 21.138-52.005-4.571-116.553-16.018-5.157-46.299 6.29t-52.553 25.161l-21.723 13.714q-53.138-14.848-109.714-14.848t-109.714 14.848q-9.143-6.29-24.283-15.433t-47.726-22.016-49.152-7.717q-25.161 64.585-3.986 116.553-45.129 48.567-45.129 117.723 0 48.567 11.703 85.723t29.989 60.014 46.007 38.29 53.723 22.272 58.587 10.277q-22.857 20.553-28.014 58.843-11.995 5.705-25.71 8.558t-32.585 2.853-37.413-12.288-31.707-35.73q-10.862-18.286-27.721-29.696t-28.27-13.714l-11.447-1.719q-11.995 0-16.567 2.56t-2.853 6.583 5.157 8.009 7.424 6.839l3.986 2.853q12.581 5.705 24.869 21.723t17.993 29.147l5.705 13.129q7.424 21.723 25.161 35.145t38.29 17.152 39.717 3.986 31.707-2.011l13.129-2.304q0 21.723 0.293 50.871t0.293 30.866q0 10.277-7.424 17.152t-22.857 3.986q-132.571-43.995-216.283-158.574t-83.712-258.011q0-119.442 58.843-220.27t159.707-159.707 220.27-58.843 220.27 58.843 159.707 159.707 58.843 220.27z" stroke="transparent"></path></svg><span></span></span>
                    </a>
                </div>
                <br>
                <button type="button" class="btn btn-secondary  btn-block" id="emailLoginBtn">Switch mailbox Sign in</button>
                <form  action="" method="post" style="display: none" id="loginForm">
                    <div class="form-group">
                        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">Remember me</span>
                            <a href="#" onclick="showForgetPwdForm()" class="float-right small">I forgot password</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-info  btn-block">Sign in</button>
                    <br>
                    <div class="text-center text-muted">
                        Don't have account yet? <a href="#" onclick="showRegistForm()">Sign up</a>
                    </div>
                </form>

                <form  action="" method="post" style="display: none" id="registForm">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
                        </label>
                    </div>


                    <button type="submit" class="btn btn-info  btn-block">Create new account</button>
                    <br>
                    <div class="text-center text-muted">
                        Already have account? <a href="#" onclick="showLoginForm()">Sign in</a>
                    </div>
                </form>
                <form  action="" method="post" style="display: none" id="forgetPwdForm">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-info  btn-block">Send me new password</button>
                    <br>
                    <div class="text-center text-muted">
                        <a href="#" onclick="showLoginForm()">Send me back</a> to the sign in screen.
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/plugins/biu/biu.min.js}"></script>
<script th:src="@{/js/pace/pace.min.js}"></script>
<script th:src="@{/assets/js/require.min.js}"></script>
<script>

    requirejs.config({
        baseUrl: '.'
    });

</script>
<script th:src="@{/assets/js/dashboard.js}"></script>


<script th:src="@{/js/base.js}"></script>
<script>
    biu('text you want to show');
    var emailLoginBtn=window.document.getElementById("emailLoginBtn");
    var loginForm=window.document.getElementById("loginForm");
    var registForm=window.document.getElementById("registForm");
    var forgetPwdForm=window.document.getElementById("forgetPwdForm");
    emailLoginBtn.onclick=showEmailLogin;

    function showEmailLogin() {
        emailLoginBtn.style.display="none";
        showLoginForm();

    }

    function showRegistForm() {
        forgetPwdForm.style.display="none";
        loginForm.style.display="none";
        registForm.style.display="block";

    }

    function showLoginForm() {
        forgetPwdForm.style.display="none";
        registForm.style.display="none";
        loginForm.style.display="block";
    }
    function showForgetPwdForm() {
        registForm.style.display="none";
        loginForm.style.display="none";
        forgetPwdForm.style.display="block";
    }

    paceOptions = {
        elements: true
    };

</script>
</body>

</html>