<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>FAKER</title>
    <link rel="icon" th:href="@{/favicon/logo.png}" type="image/x-icon" />

    <!-- Dashboard Core -->
    <link th:href="@{/assets/css/dashboard.css}" rel="stylesheet" />


    <link rel="stylesheet" th:href="@{/assets/plugins/biu/biu.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/pace/themes/red/pace-theme-minimal.css}" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        html {
            height:100%;
        }

        body {
            margin:0;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }

        .bg {
            animation:slide 3s ease-in-out infinite alternate;
            background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
            bottom:0;
            left:-50%;
            opacity:.5;
            position:fixed;
            right:-50%;
            top:0;
            z-index:-1;
        }

        .bg2 {
            animation-direction:alternate-reverse;
            animation-duration:4s;
        }

        .bg3 {
            animation-duration:5s;
        }





        @keyframes slide {
            0% {
                transform:translateX(-25%);
            }
            100% {
                transform:translateX(25%);
            }
        }





        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: 0 auto;
        }



        /* Base for label styling */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }
        [type="checkbox"]:not(:checked) + label,
        [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 1.95em;
            cursor: pointer;
        }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 1.25em; height: 1.25em;
            border: 2px solid #ccc;
            background: #fff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        }
        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: .2em; left: .275em;
            font-size: 1.4em;
            line-height: 0.8;
            color: #09ad7e;
            transition: all .2s;
            font-family: Helvetica, Arial, sans-serif;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }
        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
        /* disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
        }
        [type="checkbox"]:disabled:checked + label:after {
            color: #999;
        }
        [type="checkbox"]:disabled + label {
            color: #aaa;
        }
        /* accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            border: 2px dotted blue;
        }

        /* hover style just for information */
        label:hover:before {
            border: 2px solid #4778d9!important;
        }


        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }

        .social .circle{
            background-color: #EEEEEE;
            color: #FFFFFF;
            border-radius: 100px;
            display: inline-block;
            margin: 0 25px;
            padding: 15px;
        }
         .social .circle .fa{
            font-size: 16px;
        }
         .social .facebook{
            background-color: #455CA8;
            color: #FFFFFF;
        }
         .social .google{
            background-color: #F74933;
        }
        .social .github{
            background-color: #403A3A;
        }
         .facebook:hover{
            background-color: #6E83CD;
        }
         .google:hover{
            background-color: #FF7566;
        }
        .github:hover{
            background-color: #4D4D4d;;
        }
        .checkbox{
            float: left;
        }
    </style>
</head>
<body class="animated fadeIn">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<form class="form-signin ">
    <div class="text-center mb-4">
        <h1><strong th:text="#{title}" class="text-white"></strong></h1>
        <h6  class="text-white" th:text="#{login.content}"></h6>
    </div>
    <br>
    <div class="form-group">
        <!--<label for="inputEmail" th:text="#{login.email}">Email address</label>-->
        <input type="text"  class="form-control form-control-lg" th:placeholder="#{login.email}"  autofocus>
    </div>
    <div class="form-group">
        <!--<label for="inputPassword" th:text="#{login.pwd}">Password</label>-->
        <input type="password"  class="form-control form-control-lg" th:placeholder="#{login.pwd}" >
    </div>
    <div class="checkbox mb-3">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox"><span th:text="#{login.remember}" class="text-white"></span></label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><span th:text="#{login.loginBtn}">Sign in</span></button>
    <br>
    <div class=" text-center">
        <p  style="color:white;"><a href="" style="color: #ffffff"><span th:text="#{login.qrCode}"></span></a>  ·  <a href="" style="color: #ffffff"><span th:text="#{login.phone}"></span></a>  ·  <span th:text="#{login.noAccount}"></span>?  <a href=""><span th:text="#{login.register}"></span></a></p>
    </div>
    <br>
    <div class="social text-center">
        <a class="circle github" th:href="@{github/login/}">
            <i class="fa fa-github fa-fw"></i>
        </a>
        <a id="google_login" class="circle google" >
            <i class="fa fa-google-plus fa-fw"></i>
        </a>
        <a id="facebook_login" class="circle facebook" href="">
            <i class="fa fa-facebook fa-fw"></i>
        </a>
    </div>

</form>



<script th:src="@{/assets/plugins/biu/biu.min.js}"></script>
<script th:src="@{/js/pace/pace.min.js}"></script>
<script th:src="@{/assets/js/require.min.js}"></script>
<script>

    requirejs.config({
        baseUrl: '.'
    });
    biu('text you want to show');
</script>
<script th:src="@{/assets/js/dashboard.js}"></script>


<script th:src="@{/js/base.js}"></script>
<script>


    paceOptions = {
        elements: true
    };



</script>
</body>
</html>
