<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="header">
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" th:href="@{/}">
                Young Blog
            </a>

            <div class="d-flex order-lg-2 ml-auto">

                <div class="nav-item d-none d-md-flex">
                    <a th:href="#{language.href}"  class="btn btn-sm btn-outline-primary" >
                        <span th:text="#{language}"></span>
                    </a>
                </div>
                <div class="dropdown d-none d-md-flex">
                    <a class="nav-link icon" data-toggle="dropdown" aria-expanded="false">
                        <i class="fe fe-bell"></i>
                        <span class="nav-unread"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; transform: translate3d(0px, 5px, 0px); top: 0px; left: 0px; will-change: transform;" x-out-of-boundaries="">

                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
                    </div>
                </div>
                <a class="nav-link icon" id="noLoginAvatar" data-toggle="modal" data-target="#signInModal" aria-expanded="false">
                    <i class="fa fa-user-circle"></i>
                </a>
                <div class="dropdown" id="yesLoginAvatar" style="display: none">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
                        <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-user"></i> Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-settings"></i> Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <span class="float-right"><span class="badge badge-primary">6</span></span>
                            <i class="dropdown-icon fe fe-mail"></i> Inbox
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-send"></i> Message
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-log-out"></i> Sign out
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>


<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                    <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                </form>
            </div>
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a id="oneMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link active">
                            <!--<i class="fe fe-home"></i>-->
                            <small>首页</small>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="twoMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <!--<i class="fe fe-home"></i>-->
                            <small>技术栈</small>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="threeMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link" >
                            <!--<i class="fe fe-box"></i>-->
                            <small>大牛博客</small>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="fourMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <!--<i class="fe fe-calendar"></i>-->
                            <small>专题</small>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="fiveMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <!--<i class="fe fe-file"></i>-->
                            <small>最新发布</small>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="sixMenu" href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <!--<i class="fe fe-check-square"></i>-->
                            <small>Top 100</small>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="sevenMenu"  href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <!--<i class="fe fe-file"></i>-->
                            <small>展望台</small>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="writeBlog"  href="javascript:void(0)" onclick="activeMenu(this)" class="nav-link">
                            <i class="fe fe-file"></i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>