<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="login">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" >

                    <button  id="closeLoginModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>

                    <div class="text-center">

                        <p>&nbsp;</p>
                        <br>
                        <a  th:href="@{github/login/}">
                        <span class="v-icon" data-v-0b88f578="">
                            <svg version="1.1" role="presentation" width="9.142857142857142" height="9.142857142857142" viewBox="0 0 1024 1024" class="svg-icon active" style="width:70px;height:70px;transform:rotate(0deg) scale(1,1);">
                                <path d="M941.714 512q0 143.433-83.712 258.011t-216.283 158.574q-15.433 2.853-22.565-3.986t-7.131-17.152v-120.576q0-55.442-29.696-81.152 32.585-3.438 58.587-10.277t53.723-22.272 46.299-37.998 30.281-60.014 11.703-86.016q0-69.157-45.129-117.723 21.138-52.005-4.571-116.553-16.018-5.157-46.299 6.29t-52.553 25.161l-21.723 13.714q-53.138-14.848-109.714-14.848t-109.714 14.848q-9.143-6.29-24.283-15.433t-47.726-22.016-49.152-7.717q-25.161 64.585-3.986 116.553-45.129 48.567-45.129 117.723 0 48.567 11.703 85.723t29.989 60.014 46.007 38.29 53.723 22.272 58.587 10.277q-22.857 20.553-28.014 58.843-11.995 5.705-25.71 8.558t-32.585 2.853-37.413-12.288-31.707-35.73q-10.862-18.286-27.721-29.696t-28.27-13.714l-11.447-1.719q-11.995 0-16.567 2.56t-2.853 6.583 5.157 8.009 7.424 6.839l3.986 2.853q12.581 5.705 24.869 21.723t17.993 29.147l5.705 13.129q7.424 21.723 25.161 35.145t38.29 17.152 39.717 3.986 31.707-2.011l13.129-2.304q0 21.723 0.293 50.871t0.293 30.866q0 10.277-7.424 17.152t-22.857 3.986q-132.571-43.995-216.283-158.574t-83.712-258.011q0-119.442 58.843-220.27t159.707-159.707 220.27-58.843 220.27 58.843 159.707 159.707 58.843 220.27z" stroke="transparent"></path></svg><span></span></span>
                        </a>
                    </div>
                    <br>
                    <button type="button" class="btn btn-secondary  btn-block" id="emailLoginBtn">Switch mailbox Sign in</button>
                    <form   style="display: none" id="loginForm">
                        <div class="form-group">
                            <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="loginPwd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-label">Remember me</span>
                                <a href="#" onclick="showForgetPwdForm()" class="float-right small">I forgot password</a>
                            </label>
                        </div>
                        <button type="button" class="btn btn-info  btn-block" onclick="doLogin()">Sign in</button>
                        <br>
                        <div class="text-center text-muted">
                            Don't have account yet? <a href="#" onclick="showRegistForm()">Sign up</a>
                        </div>
                    </form>

                    <form  id="registForm" style="display: none" >
                        <div class="form-group">
                            <input type="text" id="registName" class="form-control" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <input type="email" id="registEmail" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <input type="password" id="registPwd" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
                            </label>
                        </div>


                        <button type="button" class="btn btn-info  btn-block" onclick="doRegist()">Create new account</button>
                        <br>
                        <div class="text-center text-muted">
                            Already have account? <a href="#" onclick="showLoginForm()">Sign in</a>
                        </div>
                    </form>
                    <form  action="" method="post" style="display: none" id="forgetPwdForm">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-info  btn-block">Send me new password</button>
                        <br>
                        <div class="text-center text-muted">
                            <a href="#" onclick="showLoginForm()">Send me back</a> to the sign in screen.
                        </div>
                    </form>

                </div>
            </div>
        </div>
</div>
</body>
</html>